* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
header {
    padding: 45px;
    background-color: blueviolet;
    text-align: center;
}

nav {
    display: flex;
    background-color: rgb(234, 176, 186);
    justify-content:flex-end;
}

ul{
    display: flex;
    width: 500px;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;
}

li{
    text-decoration: none;
}

nav a{
    color: rgb(65, 64, 64);
    padding: 15px;
    text-decoration: none;
}

.row{
    display: flex;
    height: 140vh;
    justify-content: center;
   
}

.first{
    display: flex;
    flex-basis: 50%;
    background-color: rgb(153, 120, 122);
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h2{
    text-align: center;
}

.second{
    display: flex;
    flex-basis: 50%;
    background-color: rgb(203, 203, 178);
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-one{
    width: 300px;
    border-radius: 25px;
}

.photo-two{
    width: 300px;
    border-radius: 25px;
}

footer{
    flex-grow: 1;
    text-align: center;
    background-color: rgb(177, 97, 124);
    padding-top: 10px;
}

/*this is the mobile version*/
@media screen and (max-width: 1000px){
   nav, .row{
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 113, 191);
   } 
}